.screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & img {
        border-radius: 0.5rem;
    }

    & input {
        width: 100%;
    }
}