 <div *ngIf="user && users" class="screen">
    <div class="section1">
        <div class="d-flex flex-row align-items-center justify-content-start
            mb-4">
            <img [src]="user.pfp" [alt]="user.name" class="d-block rounded"
                style="margin-right: 1rem;">
            <div>
                <h2 class="mb-2">
                    {{user.name}}
                </h2>
                <h4 class="mb-2">
                    {{user.points}} Points
                </h4>
                <h6>
                    {{user.schoolId}} - G{{user.grade}}
                </h6>
            </div>
        </div>
        <div class="navigation d-flex flex-row align-items-center
            justify-content-start mb-4">
            <button pButton (click)="currentTab= 'Dashboard'" label="Dashboard"
                [class.p-button-secondary]="currentTab == 'Leaderboard'"
                style="margin-right: 1rem;"></button>
            <button pButton (click)="currentTab= 'Leaderboard'"
                label="Leaderboard" [class.p-button-secondary]="currentTab ==
                'Dashboard'"></button>
        </div>
        <div class="dashboard" *ngIf="currentTab == 'Dashboard'">
            <p-table [value]="user.events" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Time Length
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Attended?
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-event>
                    <tr>
                        <td>
                            {{event.name}}
                        </td>
                        <td>
                            {{event.date}}
                        </td>
                        <td>
                            {{event.timeLength}} hours
                        </td>
                        <td>
                            {{event.description}}
                        </td>
                        <td>
                            <div class="d-flex flex-row align-items-center
                                justify-content-start">
                                <p-dropdown
                                    (onChange)="onAttendanceChange(user.events.indexOf(event),
                                    $event)" [options]="[{option: 'Yes', value:
                                    true}, {option: 'No', value: false}]"
                                    [(ngModel)]="event.attended"
                                    placeholder="Did you attend?"
                                    optionLabel="option" optionValue="value"></p-dropdown>
                                &nbsp;&nbsp;
                                <p-dropdown
                                    (onChange)="onAttendanceTypeChange(user.events.indexOf(event),
                                    $event)" [options]="event.types"
                                    [(ngModel)]="event.type" placeholder="What
                                    did you do?" optionLabel="name"
                                    optionValue="name"
                                    [readonly]="!event.attended"></p-dropdown>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="leaderboard" *ngIf="currentTab == 'Leaderboard'">
            <p-table [value]="users" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5rem">
                        </th>
                        <th>
                            Place
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Points
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple
                                [pRowToggler]="user" class="p-button-text
                                p-button-rounded p-button-plain"
                                [icon]="user ? 'pi pi-chevron-down' : 'pi
                                pi-chevron-right'"></button>
                        </td>
                        <td>
                            {{users.indexOf(user) + 1}}
                        </td>
                        <td>
                            {{user.name}}
                        </td>
                        <td>
                            {{user.points}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-user>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                <p-table [value]="user.events" dataKey="id">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Time Length
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Attended?
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-event>
                                        <tr>
                                            <td>
                                                {{event.name}}
                                            </td>
                                            <td>
                                                {{event.date}}
                                            </td>
                                            <td>
                                                {{event.timeLength}} hours
                                            </td>
                                            <td>
                                                {{event.description}}
                                            </td>
                                            <td>
                                                <div class="d-flex flex-row
                                                    align-items-center
                                                    justify-content-start">
                                                    <div *ngIf="event.type">
                                                        {{event.type}}
                                                    </div>
                                                    <div *ngIf="!event.type">
                                                        Did Not Attend
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>

                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="section2">
        <ng-container *ngFor="let object of history">
            <div class="mb-4">
                <h2 class="mb-3">{{object["date"].split("-")[0].toUpperCase()}} - {{object["date"].split("-")[1]}}</h2>
                <h5 class="bold">Top Winner</h5>
                <p class="mb-3">{{getUserName(object["topWinner"]["id"])}} - {{object["topWinner"]["prize"]}}</p>
                <h5 class="bold">Random Winner</h5>
                <p>{{getUserName(object["randomWinner"]["id"])}} - {{object["randomWinner"]["prize"]}}</p>
            </div>
            <hr>
        </ng-container>
    </div>
</div>
